#menu{
    background-color: #9F8BC7;
    color: #ffffff;
}

footer{
    background-color: #9F8BC7;
    color: #ffffff;
    text-align: center;
}

#logo{
    height: 70px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}


.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:hover {
    color: #46218f;
    background-color: #bcb9c2;
}
