{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container py-5">
        <div class="content-section bg-light text-dark rounded-3 border border-2 p-4 shadow">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4 text-center">
                        {% if form.instance.pk %}
                            Edit Task: {{ task.name }}
                        {% else %}
                            New Task
                        {% endif %}                    
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        {% if form.instance.pk %}
                            Update Task
                        {% else %}
                            Create Task
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}