{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container py-5">
        <div class="content-section bg-light text-dark rounded-3 border border-2 p-5 shadow-lg">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-info">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mt-4">
                    <button class="btn btn-info btn-lg w-100" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}