{% extends "projects/base.html" %}
{% block content %}
    <h1>Project Home Page</h1>
    {% for project in projects %}
    <a href="{% url 'project-detail' project.id %}">
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>
        <h3>Team Members:</h3>
        <ul>
            {% for member in project.team_members.all %}
                <li>{{ member.username }}</li>
            {% endfor %}
        </ul>
        <p>{{ project.start_date|date:'dS M Y' }} - {{ project.end_date|date:'dS M Y' }}</p>
    </a>

    {% endfor %}
{% endblock content %}