{% extends "projects/base.html" %}
{% block content %}
    <div class="container">
        <h2 class="my-4">Project Home Page</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for project in projects %}
                <div class="col">
                    <a href="{% url 'project-detail' project.id %}" class="text-decoration-none text-dark">
                        <div class="card {% if project.is_overdue %}border-danger{% endif %} h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ project.start_date|date:'dS M Y' }} - {{ project.end_date|date:'dS M Y' }}
                                </h6>
                                <p class="card-text">{{ project.description }}</p>
                            </div>
                            <div class="card-footer text-center">
                                {% if project.remaining_message %}
                                    <small class="{% if project.is_overdue %}text-danger{% else %}text-muted{% endif %}">{{ project.remaining_message }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}