{% extends "projects/base.html" %}
{% block content %}
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <h3>Created by:</h3>
    <p>{{ project.created_by.username }}</p>
    <h3>Team Members:</h3>
    <ul>
        {% for member in project.team_members.all %}
            <li>{{ member.username }}</li>
        {% endfor %}
    </ul>
    <p>{{ project.start_date|date:'dS M Y' }} - {{ project.end_date|date:'dS M Y' }}</p>

    {% if project.created_by == user %}
      <div>
        <a class="btn" href="{% url 'project-update' project.id %}">Edit project details</a>
        <a class="btn" href="{% url 'project-delete' project.id %}">Delete project</a>
      </div>
    {% endif %}

    <h2>Tasks</h2>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>
                    <strong>{{ task.name }}</strong> - 
                    Assigned to: 
                    {% if task.assigned_to %}
                      {{ task.assigned_to.username }}
                    {% else %}
                      Unassigned
                    {% endif %}
                    | Due: {{ task.due_date }} 
                    {% if task.complete %}
                      Complete
                    {% else %}
                    | Incomplete
                    {% endif %}
                    <form method="post" action="{% url 'project-detail' object.pk %}" style="display: inline;">
                      {% csrf_token %}
                      <input type="hidden" name="task_id" value="{{ task.id }}">
                      <input 
                          type="checkbox" 
                          name="complete" 
                          {% if task.complete %} checked {% endif %}
                          onchange="this.form.submit();">
                    </form>
                    <a href="{% url 'task-edit' task.id %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks assigned to this project.</p>
    {% endif %}
    
    <a href="{% url 'task-create' project.id %}">Add task</a>


    <h2>Project Chat</h2>
      {% for message in chat_messages %}
              <strong>{{ message.user.username }}</strong>: {{ message.message }}
              <span class="timestamp">{{ message.timestamp|date:'d M Y H:i' }}</span>
      {% endfor %}
        <form method="post">
            {% csrf_token %}
            <textarea name="chat_message" placeholder="Type your message here..." rows="3"></textarea>
            <button type="submit">Send</button>
        </form>

{% endblock content %}