{% extends "projects/base.html" %}
{% block content %}
    <div class="container">
        <h2 class="display-5 my-5"><i class="fas fa-clock"></i> Time Tracked This Week</h2>
        <!--Table displaying time tracked for each day this week-->
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th class="p-3 col-4">Day</th>
                    <th class="p-3 col-8">Time Tracked</th>
                </tr>
            </thead>
            <tbody>
                {% for day in days_of_week %}
                    <tr>
                        <td class="p-3 col-4">{{ day.date|date:"l jS M Y" }}</td>
                        <td class="p-3 col-8">{{ day.time_spent }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
{% endblock %}
